@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
/*.labelMenu{
    width: 90px;
    height: 30px;
    z-index: 1;
    background-color: #D48B07;
    color: #ffff;
    margin-top: 100px;
    margin-right: 20px;
    font-weight: 450;
    display: flex;
    justify-content: center;
    border-radius: 15px 15px 0 0;
    font-size: 18px;
    
} */
.swal2-title {
    font-family: Suez one, sans-serif;
    color: #D48B07; 
}
.text{
    color: #fff !important;
    font-family: Suez one, sans-serif;

}
.swal2-container {
    background: #4035358e !important;
}
.swal2-popup{
background-color: #000;
}
.buttonsClients{
    display: flex;
    justify-content: space-around;
} 
.buttons{
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}
.clients{
    width: 500px;
    height: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 50px;
}

.main{
    width: 100%;
    height: 550px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
    margin: 10px;
}
.product-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 25px;
    align-items: center;
    max-height: 90%; 
    overflow-y: scroll;
}
.product-container::-webkit-scrollbar {
    width: 13px;
  }
  
.product-container::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 10px;
  }

.orders-container{
    width: 50%;
    height: 90%; 
}
.black-container{
    width: 90%;
    height: 100%; 
    border-radius: 17px;
    background: #000;
    display: flex;
    flex-direction: column;
    max-height: 100%; 
}
.title{
    font-family: Suez one, sans-serif;
    color: #D48B07;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 30px;
}
.text{
    font-family: Suez one, sans-serif;
    color: #D48B07;
    font-size: 20px;
    margin-right: 50px;
    margin-top: 10px;
    text-align: right;
}

.line{
    width: 450px;
    height: 2px;
    background-color:#D48B07 ;
    margin-left: 30px;

}
img{
    width: 15%;
}