.tittle{
    width: 169px;
    height: 27px;
    color: #D48B07;
    text-align: center;
    font-family: Suez One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 35px;
}

.Text{
    width: 156px;
    height: 24px;
    color: #FFF;
    font-family: Suez One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 80px;
    left: 10%;
}
.resta{
    width: 27px;
    height: 21px;
    border-radius: 5px;
    background: #68902B;height: 21px;
    position: relative;
    top: 54px;
    left: 37%;
}
.number{
    width: 15px;
    height: 18px;
    color: #FFF;
    font-family: Suez One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 30px;
    left: 48%;
}
.suma{
    width: 27px;
    height: 21px;
    border-radius: 5px;
    background: #68902B;
    position: relative;
    top: 12px;
    left: 57%;
}
.valor{
    width: 68px;
    height: 21px;
    color: #FFF;
    font-family: Suez One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    bottom: 10px;
    left: 70%;
}
.eliminar{
    background-image: url('./img/Eliminar.png');
    width: 35px;
    height: 21px;
    background-repeat: no-repeat;
    position: relative;
    bottom: 30px;
    left: 80%;
}
.separa2{
    width: 447px;
    height: 1px;
    background: #D48B07;
    position: relative;
    top: 90px;
    left: 50px;
}
.title{
    width: 191px;
    height: 32px;
    color: #D48B07;
    text-align: right;
    font-family: Suez One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 100px;
    left: 250px;
}
.enviar{
    width: 201px;
    height: 42px;
    border-radius: 11px;
    background: #68902B;
    position: relative;
    top: 180px;
    left: 180px;
    color: #ECFEB3;
}
