@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
.login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 50vh; /* El 50% de la altura de la ventana del navegador */
}
.inputEmail{
    background-color: #ECFEB3;
    border-radius: 18px;
    width: 220px;
    height: 35px;
    padding-left: 30px;
    color: rgb(78, 76, 76);
    background-image: url('img/user.png');
    background-size: 18px , auto;
    background-position: 10px 8px;
    background-repeat: no-repeat;
    outline: none;
    cursor: text;
    
}
.inputPassword{
    background-color: #ECFEB3;
    border-radius: 18px;
    width: 220px;
    height: 35px;
    padding-left: 30px;
    color: rgb(78, 76, 76);
    background-image: url('img/password.png');
    background-size: 18px , auto;
    background-position: 10px 8px;
    background-repeat: no-repeat;
    outline: none;
    cursor: text;
}
.buttonColor{
    background-color: #68902B;
    font-family: 'Suez One', serif;
    border-radius: 25px;
    width: 255px;
    height: 40px;
    color: #ffff;
}
.errorMessage{
    color: #D48B07;
    font-size: 14px;
    font-family: 'Suez One', serif;

}