@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

.buttonGreen.active {
    width: 190px;
    height: 50px;
    background-color: #68902B;
    border-radius: 17px;
    color: #ECFEB3;
    font-weight: 450;
    font-size: 18px;
    font-family: 'Suez One', serif;
}
.buttonGreen.inactive {
    width: 190px;
    height: 50px;
    border: solid 5px #68902B;
    background-color: transparent;
    border-radius: 17px;
    color: #ECFEB3;
    font-weight: 450;
    font-size: 18px;
    font-family: 'Suez One', serif;

}
